$border-color: #025716;
$greengrey: #e1e7e6;
$lightgreengrey: #f2f6f5;
$lightgreen: #C8D6D1;
$selectedcolor: #fdfbe2;
$delete-color: #be2020;

$blue_color: #1c7d93;
$light_blue: #abd2d8;
$red_color: #a51627;
$light_red: #e0ced0;
$purple_color: #741784;
$light_purple: #cec1d1;
$orange_color: #ce5c0f;
$light_orange: #e5d2c6;